<nav>
  <div class="nav-logo">
    <a href="#">
      <img src="">
    </a>
  </div>
  
  <ul class="nav-links">
    <li class="link"><a href="<%= root_path %>">Home</a></li>
    <li class="link"><a href="#projects">Projects</a></li>
  </ul>
</nav>