<header class="container">
  <div class="content">
    <span class="blur"></span>
    <h4>Are you looking for a Ruby On Rails developer?</h4>
    <h1>Hi, im <span>Washington</span>, ROR Developer</h1>
      
    <p>
    I'm a Ruby on Rails 7 programmer, and i'm looking for my first job, 
    as mentioned in my previous post in Linkedin.
    </p>
    <br>
    <button class="btn">Get Started</button>
  </div>
  <div class="image">
    <img src="https://i.imgur.com/MPcxF5A.png">
  </div>
  <section>
  <h2 class="header">My Projects</h2>
    <div class="learn">
      <div class="card">
        <span><box-icon name='package'></box-icon> </span>
        <h4>My GitHub</h4>
        <p>
          You can access my github to learn about my projects, including this one, made in Ruby on Rails 7.1
        </p>
        <a href="#">Acess</a>
      </div>
      <div class="card">
        <span><box-icon name='package'></box-icon> </span>
        <h4>My GitHub</h4>
        <p>
          You can access my github to learn about my projects, including this one, made in Ruby on Rails 7.1
        </p>
        <a href="#">Acess</a>
      </div>
      <div class="card">
        <span><box-icon name='package'></box-icon> </span>
        <h4>My GitHub</h4>
        <p>
          You can access my github to learn about my projects, including this one, made in Ruby on Rails 7.1
        </p>
        <a href="#">Acess</a>
      </div>
      <div class="card">
        <span><box-icon name='package'></box-icon> </span>
        <h4>My GitHub</h4>
        <p>
          You can access my github to learn about my projects, including this one, made in Ruby on Rails 7.1
        </p>
        <a href="#">Acess</a>
      </div>
    </div>
  </section>
</header>
